.placeholder_img img {
	height: 160px;
	width: 280px;
}

main li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	left: 10px;
	margin: 0px 20px 20px 20px;
}

footer {
	display: block;
	clear: both;
}